{% extends 'website_app/base.html' %}

{% block content %}
<header class="px-6 py-10 lg:py-20 bg-fuchsia-500">
    <div class="max-w-3xl mx-auto text-center">
        <p style="text-shadow: 2px 2px 8px #FFFF00" class="mb-2 text-3xl lg:text-5xl text-white">Welcome to e-commerce shop</p>

        <p class="mb-10 text-yellow-200">We sell future and modern products for everyone, everywhere, every time</p>

        <a href="#" class="inline-block px-8 py-4 rounded-xl bg-white text-fuchsia-700 hover:bg-gray-200">Start shopping</a>
    </div>
</header>

<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
    <div class="products flex items-center flex-wrap">
        {% for product in products %}
            {% include 'product/partials/product_list.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}